.pure-g-r
  - @users.each do |u|
    -unless u.name == "admin"
      .pure-u-2-5.card
        = link_to (image_tag u.gravatar_url, class: "profileImg"), user_path(u.id)
        %h3=link_to u.name, user_path(u.id)
        =u.phone
      
