.pure-g-r
  .pure-u-1.card
    = image_tag @user.gravatar_url, class: "profileImg"
    %h2=@user.name
    .pure-g-r
      .pure-u-1
        %h4 Contact Info
      .pure-u-1-2
        %i{class:"icon-email"}
        =@user.email
        %br
        %i{class:"icon-ios7-telephone"}
        =@user.phone
        %br
        =link_to "edit", edit_user_path , class: "pure-button editButton"
      .pure-u-1-2
        %i{class:"icon-location"}
        .address
          =@user.address
          %br
          =@user.city + ", " + @user.state + " " + @user.zip

        