.pure-g-r
  .pure-u-1.card
    = image_tag @user.gravatar_url, class: "profileImg"
    %h2=@user.name
    .pure-g-r
      .pure-u-1
        %h4 Contact Info
      .pure-u-1-2
        %i{class:"icon-at"}
        %a{href:"mailto:#{@user.email}"}=@user.email
        %br
        %i{class:"icon-ios7-telephone"}
        =@user.phone
        %br
        =render "social_display"
      .pure-u-1-2
        %i{class:"icon-location"}
        #address
          =@user.address 
          %br
          &nbsp;&nbsp;&nbsp;&nbsp;
          =@user.city + ", " + @user.state + " " + @user.zip
        #map-canvas
    =link_to "edit", edit_user_path , class: "pure-button pure-button-small editButton"


  :javascript
    var geocoder;
    var map;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      //var latlng = new google.maps.LatLng(-34.397, 150.644);
      var latlon;
      // var address = document.getElementById('address').innerHTML;
      var address = "#{@user.address+' '+@user.city+', '+@user.state}"
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          latlon = results[0].geometry.location;
          map.setCenter(latlon);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
         latlon = new google.maps.LatLng(-117.1389938, 36.4902533);
         map.setCenter(latlon);
        }
      });
      var mapOptions = {
        zoom: 12,
        center: latlon,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }
   
    $(document).on('page:load || page:change', initialize());


        