.usersAdmin{
  list-style: none;
}
.usersAdmin td :nth-child(2n+2){
  background: #999;
}

.pure-button-admin{
  padding: 3px !important;
}

.pure-button.pure-green {
  background: #097600;
}

.adminTable {
  width: 100%;
}

.inactiveDs {
  opacity: 0.6;
  margin: auto;
  display: block;
}

.inactiveDs.sized {
  width: 30%;
}