/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*Import CodyStar + Open Sans from Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Codystar|Open+Sans);

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set you're content font stack here: */
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Codystar', cursive;
}

footer {
  text-align: center;
  font-size: 8px;
  color: #ccc;
  bottom: 0;
}

.welcome{
  text-align: center;
}

.welcome.pure-button {
  width: 30%;
}

.profileImg {
  border-radius: 100%;
  /*float:right;*/
  position: absolute;
  width: 20%;
  z-index: 4;
  right: 2%;
  top: -20%;
}

#address {
  display: inline;
}

#map-canvas{
  height: 200px;
}

.placeholder {
  padding-bottom: 12%;
}

body {
  background: #eee;
}

.topLeftIcon {
  background: white;
}

.topLeftIcon img{
  width: 50%;
  margin: 0 25%;
}

#wysihtml5-toolbar{
  /*display: none;*/
}

#wysihtml5-textarea {
  width: 70%;
  height: 300px;
}

.gravInfo {
  text-align: right;
}

.pure-button.pure-button-small {
    font-size: 75%;
}

.dsSmall {
  display: none;
}

@media(max-width: 650px){
  .topLeftIcon, .topLeftIcon img, .topLeftIcon a{
    display:none !important;
  }
  .dsSmall {
    display: inline-block;
    width:15%;
    -webkit-filter: invert(90%);
  }
  .profileImg {
    position: relative;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.replyForm {
  display: none;
}