.container {
  padding: 10px;
}
.card {
  border: 1px solid #b7b7b7;
  padding: 10px;
  background: white;
  margin: 0 auto 5px;
}
.message {
  margin-left: 10px;
}

.topLeftIcon {
  background: white;
}

.topLeftIcon img{
  width: 50%;
  margin: 0 25%;
}

.reply {
  margin:5px 0 5px 33%;
}
.placeholder {
  padding-bottom: 12%;
}

body {
  background: #eee;
}

p {
  font-size: 0.8em;
}