.container {
  padding: 10px;
}
.card {
  border: 1px solid #b7b7b7;
  padding: 10px;
  background: white;
  margin: 0 auto 5px;
  box-shadow: 0 2px 3px #999;
  position: relative;
}
.message {
  margin-left: 10px;
}

/*.message h4 {
  margin-top: 0;
}*/

.reply {
  margin:5px 0 5px 33%;
}


p {
  font-size: 0.8em;
}
.test {
  background: #FF00F9;
}

.creator {
  float: right;
  height: 35px;
  width: 200px;
  text-align: right;
  vertical-align: top;
  font-size: 0.6em;
}

.creator img {
  height: 35px;
  border-radius: 100%;
}

.topicSelector {
  display: none;
  list-style: inside none;
}
.msgInfo{
  display: inline-block;
}
/*@media(max-width: 1000px){
  .topicsBlocks {
    display: none;
  }
  .topicSelector {
    display: block;
  }
}*/

.wysiLink {
  /*display: none;*/
  position: absolute;
  right: 30%;
  top:30%;
  background: white;
  box-shadow: 0 0 5px 5px #eee;
  padding: 10px;
}